@import url('../../../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import '../../styles/root.css';

main{
  background-color: var(--ligh-blue);
  font-family: Arial, sans-serif;
}

.form-query{
  height: 80% !important;
  width: 100% !important;
  margin-left: 9.5% !important;
  margin-right: 9.5% !important;
  align-items: center !important;
}

.search{
  margin-bottom: 470px;
  margin-right: 690px;
  position:absolute;
}

.title-query h1{
  margin-top: 25px;
  color: var(--purple) !important;
  font-size: 2.5em;
  line-height: 1.1;
  text-align: center;
}

.content-form-query{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
}

.conteiner-form-query{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: var(--blue);
  width: 850px;
  height: 530px;
  border-radius: 6px;
  padding: 0px 0 0 0;
  margin-top: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.082);
}

.search-icon{
  margin-top: 10px;
}

.search-user{
  position: absolute;
  margin-left: 50px;
  color: var(--lavanda);
  width: 550px;
}

#buttonSearch{
  position: absolute;
  width: 100px;
  margin-left: 570px;
  height: 40px;
}

.query-from-user{
  font-size: 1.8rem;
  margin-top: 25px !important;
  color: var(--purple);
}

.reason-query{
  margin-top: 10px !important;
  color: var(--lavanda);
  width: 420px;
}

.date-query{
  position: absolute;
  margin-top: -62px !important;
  margin-left: 450px;
  color: var(--lavanda);
}

.time-query{
  position: absolute;
  margin-top: -62px !important;
  margin-left: 620px;
  color: var(--lavanda);
}

.problem-query{
  margin-top: 10px !important;
  color: var(--lavanda);
  width: 720px;
}

.medication-query{
  margin-top: 10px !important;
  color: var(--lavanda);
  width: 720px;
}

.dosage-query{
  margin-top: 10px !important;
  color: var(--lavanda);
  width: 720px;
}

#inputTime, #inputDateQuery{
  color: #B4B6C1;
}

#inputDateQuery{
  width: 150px;
}

#inputTime{
  width: 100px;
}

textarea::placeholder{
  color: #B4B6C1 !important
}

@media screen and (max-width: 900px){

  .search{
    margin-bottom: 510px;
    margin-right: 370px;
  }

  .form-query{
    height: 90% !important;
  }

  .conteiner-form-query{
    width: 465px;
    height: 550px;
  }

  .search-user{
    width: 250px;
  }
  
  #buttonSearch{
    margin-left: 270px;
    width: 80px;
  }
  
  .query-from-user{
    margin-left: 20px;
  }
  
  .reason-query{
    margin-left: 20px;
    width: 180px;
  }
  
  .date-query{
    margin-left: 216px;
  }
  
  .time-query{
    margin-left: 340px;
  }
  
  .problem-query{
    margin-left: 20px;
    width: 420px;
  }
  
  .medication-query{
    margin-left: 20px;
    width: 420px;
  }
  
  .dosage-query{
    margin-left: 20px;
    width: 420px;
  }
  
  
  #inputDateQuery{
    width: 110px;
  }
  
  #inputTime{
    width: 100px;
  }

  #buttonEdit{
    margin-left: 18%;
  }

}