@import url('../../../../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import '../../../styles/root.css';

body{
  background-color: var(--ligh-blue);
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

.conteiner-patient-record{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 6px;
  padding: 0px 0 50px 0;
  margin-top: 20px;
}

.title-patient-record h1{
  margin-top: 25px;
  color: var(--purple) !important;
  font-size: 2.5em;
  line-height: 1.1;
  text-align: center;
}

.title-patient-record h4{
  margin-top: 25px;
  color: var(--black-purple) !important;
  font-size: 1.5em;
  line-height: 1.1;
  text-align: center;
}

.list-infos-patient{
  margin-top: 50px;
  margin-right: -20px;
  margin-bottom: 5px;
  max-height: 540px;

}

.infos-patient{
  margin-left: 0px;
  margin-right: 10px;
  margin-top: -60px;
  color: var(--purple);
  background-color: var(--blue);
  border-radius: 10px;
  border: 1px solid var(--lavanda);
  width: 700px;
  height: 180px;
  padding: 20px 15px;
}