@import url('../../../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import '../../styles/root.css';

main{
  background-color: var(--ligh-blue);
  font-family: Arial, sans-serif;
}

.form-exam{
  height: 88% !important;
  width: 100% !important;
  margin-left: 9.5% !important;
  margin-right: 9.5% !important;
  align-items: center !important;
}

.title-exam h1{
  margin-top: 25px;
  color: var(--purple) !important;
  font-size: 2.5em;
  line-height: 1.1;
  text-align: center;
}

.search-exam{
  margin-bottom: 545px;
  margin-right: 690px;
  position:absolute;
}

.content-form-exam{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
}

.conteiner-form-exam{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: var(--blue);
  width: 850px;
  height: 585px;
  border-radius: 6px;
  padding: 0px 0 0 0;
  margin-top: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.082);
}

.search-icon{
  margin-top: 10px;
}

.search-user{
  position: absolute;
  margin-left: 50px;
  color: var(--lavanda);
  margin-top: -30px !important;
  width: 550px;
}

#buttonSearch{
  position: absolute;
  width: 100px;
  margin-top: -40px !important;
  margin-left: 570px;
  height: 40px;
}

.exam-from-user{
  font-size: 1.8rem;
  margin-top: 25px !important;
  color: var(--purple);
}

.name-exam{
  margin-top: 10px !important;
  color: var(--lavanda);
  width: 420px;
}

.date-exam{
  position: absolute;
  margin-top: -62px !important;
  margin-left: 450px;
  color: var(--lavanda);
}

.time-exam{
  position: absolute;
  margin-top: -62px !important;
  margin-left: 620px;
  color: var(--lavanda);
}

.type-exam{
  margin-top: 10px !important;
  color: var(--lavanda);
  width: 720px;
}

.lab-exam{
  margin-top: 10px !important;
  color: var(--lavanda);
  width: 720px;
}

.url-exam{
  margin-top: 10px !important;
  color: var(--lavanda);
  width: 720px;
}

.results-exam{
  margin-top: 10px !important;
  color: var(--lavanda);
  width: 720px;
}

#inputTime, #inputDateExam{
  color: #B4B6C1;
}

#inputDateExam{
  width: 150px;
}

#inputTime{
  width: 100px;
}

textarea::placeholder{
  color: #B4B6C1 !important
}

@media screen and (max-width: 900px){

  .search-exam{
    margin-bottom: 540px;
    margin-right: 370px;
  }

  .conteiner-form-exam{
    width: 465px;
  }

  .search-user{
    width: 280px;
  }
  
  #buttonSearch{
    margin-left: 290px;
  }
  
  .exam-from-user{
    margin-left: 20px;
  }
  
  .name-exam{
    margin-left: 20px;
    width: 180px;
  }
  
  .date-exam{
    margin-left: 216px;
  }
  
  .time-exam{
    margin-left: 340px;
  }
  
  .type-exam{
    margin-left: 20px;
    width: 420px;
  }
  
  .lab-exam{
    margin-left: 20px;
    width: 420px;
  }

  .url-exam{
    margin-left: 20px;
    width: 420px;
  }
  
  .results-exam{
    margin-left: 20px;
    width: 420px;
  }
  
  
  #inputDateExam{
    width: 110px;
  }
  
  #inputTime{
    width: 100px;
  }

  #buttonEdit{
    margin-left: 18%;
  }

}